.location-review-dialog {
  &__rating {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  &__textarea {
    width: 100%;
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }
}
