<div class="location-reviews">
  @if (isLoading) {
    <mat-progress-bar mode="query" />
  } @else {
    <div class="location-reviews__summary">
      <h1 class="location-reviews__heading">Rezumatul recenziilor</h1>

      <div class="location-reviews__ratings">
        <div class="location-reviews__scores">
          <table>
            <tbody>
              @for (star of starCounts; track star[0]) {
                @let label = star[0];
                @let count = star[1];
                @let percent = star[2];
                @let tooltip = getScoreRowTooltip(label, count);

                <tr
                  class="location-reviews__scores-row"
                  role="img"
                  [matTooltip]="tooltip"
                  matTooltipPosition="above"
                  [attr.aria-label]="tooltip"
                >
                  <td
                    class="location-reviews__scores-label"
                    role="presentation"
                  >
                    {{ label }}
                  </td>

                  <td role="presentation">
                    <div class="location-reviews__scores-bar">
                      <div
                        class="location-reviews__scores-fill"
                        [style.paddingLeft]="percent + '%'"
                      ></div>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <div class="location-reviews__score">
          <h2 class="location-reviews__score-title">
            {{ locationScore | number: "1.0-1" }}
          </h2>

          <ngb-rating
            [rate]="locationScore"
            [readonly]="true"
            iconSize="15px"
          />

          <p class="location-reviews__count">{{ reviews.length }} recenzii</p>
        </div>
      </div>

      <div class="location-reviews__cta">
        <button mat-stroked-button (click)="openNewReviewDialog()">
          <mat-icon>rate_review</mat-icon>
          Scrie o recenzie
        </button>
      </div>
    </div>

    @if (reviews.length) {
      <div class="location-reviews__list">
        <div class="location-reviews__list-heading">
          <h1 class="location-reviews__heading">Toate recenziile</h1>
        </div>

        @for (review of reviews; track review.id) {
          <div class="location-reviews__list-item">
            <ngb-rating
              [rate]="review.stars"
              [readonly]="true"
              iconSize="20px"
            />
            <p class="location-reviews__details">{{ review.details }}</p>
          </div>
        }
      </div>
    }
  }
</div>
