<div class="location-reviews">
  @if (isLoading) {
    <mat-progress-bar mode="query" />
  } @else {
    <div class="location-reviews__summary">
      <h1 class="location-reviews__heading">Rezumatul recenziilor</h1>

      <div class="location-reviews__ratings">
        <app-location-reviews-summary [starCounts]="starCounts" />

        <div class="location-reviews__score">
          <h2 class="location-reviews__score-title">
            {{ locationScore | number: "1.1" }}
          </h2>

          <ngb-rating
            [rate]="locationScore"
            [readonly]="true"
            iconSize="15px"
          />

          <p class="location-reviews__count">{{ reviews.length }} recenzii</p>
        </div>
      </div>

      <div class="location-reviews__cta">
        <button mat-stroked-button (click)="openNewReviewDialog()">
          <mat-icon>rate_review</mat-icon>
          Scrie o recenzie
        </button>
      </div>
    </div>

    @if (reviews.length) {
      <div class="location-reviews__list">
        <div class="location-reviews__list-heading">
          <h1 class="location-reviews__heading">Toate recenziile</h1>
        </div>

        @for (review of reviews; track review.id) {
          <app-location-review [review]="review" />
        }
      </div>
    }
  }
</div>
