.location-reviews {
  $section-border: 1px solid #e0e0e0;

  &__heading {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 0;
  }

  &__summary {
    border-bottom: $section-border;
    margin-top: -20px;
    padding: 20px;
    padding-top: 0;
  }

  &__ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__score {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-title {
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 4rem;
      margin: 0;
    }
  }

  &__count {
    color: #1a73e8;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  &__list {
    &-heading {
      padding: 20px;
      margin-bottom: -20px;

      h1 {
        margin-bottom: 0;
      }
    }

    &-item {
      border-bottom: $section-border;
      padding: 20px;
    }
  }

  &__details {
    margin: 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  &__cta {
    margin-top: 20px;
    text-align: center;
  }

  &__scores {
    flex: 1;
    margin-right: 24px;

    table {
      width: 100%;
    }

    &-row {
      cursor: help;
    }

    &-label {
      color: #70757a;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25rem;
      width: 20px;
    }

    &-bar {
      border-radius: 4px;
      height: 8px;
      background-color: #f1f3f4;
    }

    &-fill {
      background-color: #fbbc04;
      border-color: #fbbc04;
      border-style: solid;
      border-width: 4px 1px;
      border-radius: 4px;
      width: 0;
    }
  }
}
