#map {
  height: 100%;
}

.map {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;

  &__container {
    height: 100%;
  }
}

.new-location {
  &__container {
    backdrop-filter: blur(4px);
    bottom: 2rem;
    display: flex;
    left: 2rem;
    position: fixed;
    z-index: 999;
  }

  &__inner {
    display: inline-flex;
    position: relative;
  }

  &__btn {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    color: #000;
    display: inline-flex;
    font-size: 16px;
    opacity: .7;
    position: relative;
    padding: 11px 27px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: #2e8b5a;
      color: white;
      opacity: 1;
    }
  }

  &__badge {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin-top: -.25rem;
    margin-right: -.25rem;
    width: 1rem;
    height: 1rem;

    &-animation {
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
      background-color: #39ae70;
      border-radius: 9999px;
      display: inline-flex;
      height: 100%;
      opacity: .75;
      position: absolute;
      width: 100%;
    }

    &-color {
      background-color: #39ae70;
      border-radius: 9999px;
      display: inline-flex;
      height: 1rem;
      position: relative;
      width: 1rem;
    }
  }
}

@keyframes ping {

  75%,
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
