<div class="reviews-summary">
  <table>
    <tbody>
      @for (star of starCounts(); track star[0]) {
        @let label = star[0];
        @let count = star[1];
        @let percent = star[2];
        @let tooltip = getScoreRowTooltip(label, count);

        <tr role="img" [title]="tooltip" [attr.aria-label]="tooltip">
          <td class="reviews-summary__label" role="presentation">
            {{ label }}
          </td>

          <td role="presentation">
            <div class="reviews-summary__bar">
              <div
                class="reviews-summary__fill"
                [style.paddingLeft]="percent + '%'"
              ></div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
