.marker-cluster {

  &-small,
  &-medium,
  &-large {
    background-color: rgba(174, 213, 129, 0.6);

    div {
      background-color: rgba(102, 187, 106, 0.6);
      color: #ffffff;
      font-size: 1.25rem;
    }
  }
}
