@let locationInfo = location();
@let navigationUrl = googleMapsUrl();

@if(locationInfo) {
<section class="location-info__container">
  <h1 class="location-info__name">{{locationInfo.name}}</h1>
</section>

<section class="location-info__container">
  @if(navigationUrl) {
  <a mat-stroked-button [href]="navigationUrl" target="_blank">
    <mat-icon>directions</mat-icon>
    Navighează la adresă
  </a>
  }

</section>

<section class="location-info__container location-info__details">
  <div class="location-info__details-row">
    <mat-icon>numbers</mat-icon>
    <p>Automate disponibile: <strong>{{locationInfo.rvmCount}}</strong></p>
  </div>

  <div>
    <div class="location-info__details-row">
      <mat-icon>schedule</mat-icon>
      <p>Program de funcționare:</p>
    </div>
    <div class="location-info__schedule">
      @for (schedule of locationInfo.schedules; track schedule.day) {
      <li class="location-info__schedule-row">
        <p>{{ schedule.day }}</p>
        <p>{{ schedule.hoursInterval }}</p>
      </li>
      } @empty {
      <li class="location-info__schedule-unavailable">Indisponibil pentru această locație.</li>
      }
    </div>
  </div>

  <div class="location-info__details-row">
    <mat-icon>location_on</mat-icon>
    <p>{{locationInfo.address}}</p>
  </div>

  <div class="location-info__cta">
    <a mat-button [href]="feedbackFormUrl()" target="_blank">
      <mat-icon>edit</mat-icon>
      Sugerează o modificare
    </a>
  </div>
</section>
} @else {
<mat-spinner />
}
