.location-review {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;

  &__header {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__rating {
    pointer-events: none;
  }

  &__date {
    color: #70757a;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: .5rem;
  }

  &__details {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}
